body {
    font-family: Arial, sans-serif;
    background:#000;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: antiquewhite;
}


.slideshow-container {
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 900px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    background: #000;
}


.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

.dots-container {
    text-align: center;
    margin-top: 15px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 5px 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

@media screen and (max-width: 768px) {
    .slideshow-container {
        height: 300px;
    }
}
